@CHARSET "ISO-8859-1";

/* link */
a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

/* unvisited link */
a:link {
	
}

/* visited link */
a:visited {
	
}

/* mouse over link */
a:hover {
	color: #999;
}

/* selected link */
a:active {
	
}

.ui-menubar {
	width: 1475px;
}

#global_container input {
	width: 100%;
	font-family: spotifly_1;
	color: #000;
	border: none;
	border-radius: 5px;
	text-align: center;
}

#global_container input[type=submit] {
	color: #fff;
	/*background-color: #106800;*/
	background-color: #d70000;
}

#global_container input:hover[type=submit] {
	/*  background-color: #0a3e00; */
	background-color: black;
}

#global_container input:hover[type=text] {
	background-color: #ddd;
}

#player {
	display: table-cell;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#player audio {
	background-color: #106800;
	border-radius: 5px;
}

#search {
	height: 100%;
	with: 100%;
	line-height: 100%;
	color: #fff;
	text-align: center;
	padding-top: 20px;
}

#bottom {
	float: left;
	height: 100%;
	line-height: 100%;
	color: #fff;
}

#user_logout {
	height: 100%;
	width: 250px;
	text-align: center;
	display: inline-table;
	margin-top: 30px;
}

#new_playlist {
	padding-top: 50px;
}

#edit_user {
	padding-top: 15px;
}

#edit_music {
	padding-top: 50px;
}

#new_music {
	padding-top: 50px;
}

#upload {
	width: 100%;
	border-radius: 5px;
	background-color: #fff;
}

#upload:hover {
	background-color: #fd5353;
}

#uploadIn {
	margin-left: -155px;
}

#global_container input[type=file] {
	border: none;
	color: #000;
}

#global_container input:hover[type=file] {
	
}

.inputbox {
	width: 350px;
	height: 150px;
	overflow: auto;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px black;
	padding: 5px;
}

.outputTbox {
	width: 350px;
	min-heigth: 100px;
	max-height: 150px;
	overflow: auto;
	-moz-border-radius: 10px;
	border-radius: 5px;
	border: solid 1px black;
	padding: 5px;
	background-color: cadetblue;
}

IMG.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	width: 500px;
	height: 350px;
}

#formLogin {
	text-align: center;
}

#myButton {
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b4b8b7
		), color-stop(1, #b4b8b7));
	background: -moz-linear-gradient(top, #b4b8b7 5%, #b4b8b7 100%);
	background: -webkit-linear-gradient(top, #b4b8b7 5%, #b4b8b7 100%);
	background: -o-linear-gradient(top, #b4b8b7 5%, #b4b8b7 100%);
	background: -ms-linear-gradient(top, #b4b8b7 5%, #b4b8b7 100%);
	background: linear-gradient(to bottom, #b4b8b7 5%, #b4b8b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4b8b7',
		endColorstr='#b4b8b7', GradientType=0); */
	background-color: red;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 23px;
	text-decoration: none;
}

#myButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b4b8b7
		), color-stop(1, #b4b8b7));
	background: -moz-linear-gradient(top, #b4b8b7 5%, #b4b8b7 100%);
	background: -webkit-linear-gradient(top, #b4b8b7 5%, #b4b8b7 100%);
	background: -o-linear-gradient(top, #b4b8b7 5%, #b4b8b7 100%);
	background: -ms-linear-gradient(top, #b4b8b7 5%, #b4b8b7 100%);
	background: linear-gradient(to bottom, #b4b8b7 5%, #b4b8b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4b8b7',
		endColorstr='#b4b8b7', GradientType=0);
	background-color: #b4b8b7;
}

#myButton:active {
	position: relative;
	top: 1px;
}